[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/khlee9228
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/khlee9228
	label-Verified = -1..+1 group user/khlee9228
	push = group user/khlee9228
	read = group user/khlee9228
	rebase = group user/khlee9228
	removeReviewer = group user/khlee9228
	submit = group user/khlee9228
[access "refs/heads/*"]
	create = group user/khlee9228
	push = +force group user/khlee9228
	pushMerge = group user/khlee9228
	read = group user/khlee9228
[access "refs/tags/*"]
	push = group user/khlee9228
	push = +force group user/khlee9228
